[Unit]
After=multi-user.target local-fs.target weston.service

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/tasktracker
Environment=XDG_RUNTIME_DIR=/run/user/0
Environment=WAYLAND_DISPLAY=/run/wayland-0


[Install]
WantedBy=multi-user.target

