[Unit]
After=multi-user.target local-fs.target weston.service

[Service]
Type=simple
Restart=no
ExecStart=/bin/su weston -c /usr/bin/tasktracker
Environment="DISPLAY=:0"

[Install]
WantedBy=multi-user.target

